{% extends 'site.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('homepage') }}
{% endblock %}

{% block body %}

    <main data-barba="wrapper">
        <aside>
            <button type="button" id="locale-selector">
                {% include 'site/svg/_iconmonstr-globe-8.svg.twig' %}
            </button>
            <nav role="navigation" id="locale-list">
            {% for locale in locales() %}
                <a {% if app.request.locale == locale.code %}class="active" aria-checked="true" {% else %}class="" aria-checked="false"{% endif %} role="menuitem"  href="{{ path(app.request.get('_route', 'home_index'), app.request.get('_route_params', [])|merge({_locale: locale.code})) }}">
                    {{ locale.name|capitalize }} <small>{{ locale.code[0:2] }}</small>
                </a>
            {% endfor %}
            </nav>

            <nav role="navigation" id="socials">
                <a href="https://www.facebook.com/hotelmaretraite/">
                    {% include 'site/svg/_iconmonstr-facebook-6.svg.twig' %}
                </a>
                <a href="https://wa.me/5977614288">
                    {% include 'site/svg/_iconmonstr-whatsapp-1.svg.twig' %}
                </a>
                <a href="https://www.instagram.com/maretraitehotel/">
                    {% include 'site/svg/_iconmonstr-instagram-11.svg.twig' %}
                </a>
            </nav>
        </aside>



        <section class="homepage container" data-barba="container" data-barba-namespace="home">
            <header>


                <nav class="main-nav" role="navigation">
                    <a href="#" data-transition="true">{{ "page.name.news" | trans | capitalize }}</a>
                    <a href="{{ url('site-surroundings') }}" data-transition="true">{{ "page.name.surroundings" | trans | capitalize }}</a>
                    <a href="{{ url('site-gallery') }}" data-transition="true">{{ "page.name.gallery" | trans | capitalize }}</a>
                    <a href="{{ url('site-contact-us') }}" data-transition="true">{{ "page.name.contact-us" | trans | capitalize }}</a>
                </nav>

                <button type="button" id="user-menu-selector">
                    {% include 'site/svg/_burger-menu.svg.twig' %}
                </button>
            </header>

            <div class="branding-left">
                <div class="svg-container">
                    {% include 'site/svg/_maretraite-vertical.svg.twig' %}
                </div>

            </div>
            <div class="branding-right">
                <h1><span>Maretraite</span> <span>Hotel</span></h1>
                <p class="copyright">&copy; {{ "now" | date('Y') }} {{ 'site.name'|trans }}</p>
            </div>

            <div class="content">

                <div class="slider">
                    <div>
                        <img src="{{ asset('build/images/standard-double-room.jpg') }}" alt="">
                    </div>
                    <div>
                        
                    </div>
                    <div>{% include 'site/_debug-content.html.twig' %}</div>
                </div>
{#                    {% include 'site/_debug-content.html.twig' %}#}

            </div>

            <footer>
{#                <summary>#}
{#                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aspernatur autem magnam pariatur, rem sunt veritatis? Dicta expedita impedit quos rem tempora. Beatae delectus dolorem illum ipsam quae. Eaque, tempore.#}
{#                </summary>#}
{#                <details>#}
{#                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque debitis ea eos expedita, ipsum magnam odio tenetur? Delectus, eligendi fugiat fugit magnam maxime neque nobis odio provident quibusdam rerum unde!</p>#}
{#                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis consequatur cupiditate distinctio dolor illum, incidunt iure labore molestias neque nihil, nisi numquam provident, quam quisquam quod recusandae sequi sit totam.</p>#}
{#                </details>#}
                <div class="controls-container">
                    <button>previous</button>
                    <button>next</button>
                </div>
            </footer>
        </section>
    </main>

{% endblock %}
