{% extends 'site.html.twig' %}


{% block body %}

<main data-barba="wrapper">
    <div class="page-transition-top-wipe"></div>

        <section class="container" data-barba="container" data-barba-namespace="rooms">
            <h1>
                <a href="{{ url('site-home') }}">
                    {% include '/site/home/_back-btn.twig' %}
                </a> Rooms</h1>

            <nav class="main-nav">
                <a href="{{ url('site-home') }}" data-transition="true">Home</a>
                <a href="{{ url('site-rooms') }}" data-transition="true" class="current-page">Rooms</a>
                <a href="{{ url('site-gallery') }}" data-transition="true">Gallery</a>
                <a href="{{ url('site-surroundings') }}" data-transition="true">Surroundings</a>
            </nav>

            {% include 'site/home/_debug-content.html.twig' %}
        </section>
</main>
{% endblock %}
